
<h1>Add a New Sandwich Club Member</h1>
<%= @eater.errors.full_messages.first if @eater.errors.any? %>

<%= form_for(@eater) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br><br>
  <%= f.submit "Add Member"%>
<% end %>
