<h1><%= @sandwich.ingredients %></h1>

<h2>Eaten on <%= @sandwich.show_date %> at <%= @sandwich.location %></h2>

<h2>Eaten by

  <% @sandwich.eaters.each do |eater| %>
  <%= link_to eater.name, eater %>

  <% end %>


</h2>

<h3>Price: <%= @sandwich.price %></h3>
<h3>Tasting Notes:<br><br>
  <%= @sandwich.tasting_notes %>
</h3>

<h3>Comments from Club Members:<br><br>
<% @sandwich.comments.each do |c| %>
  <%= c.text %> - <%= link_to c.eater.name, c.eater %>
  <br>
<% end %>
</h3>
<h2>Add a Comment</h2>
<%= form_for @sandwich do |f| %>
<%= f.fields_for :comment do |ff| %>
  <%= ff.text_area :text, size: "150x2" %><br><br>
    <%= ff.fields_for :eater do |fff| %>
    <%= fff.label :name, "Your Name " %>
    <%= fff.text_field :name %>
    <%= fff.hidden_field :id %>
  <% end %>
<% end %>
<%= f.submit "Add Comment"%>
<% end %>

<p><%= link_to "Back to Index", sandwiches_path %></p>
